@charset "utf-8";

.hn-tc .blocks {

	display:inline-block; 
	vertical-align:top;
	padding:1em;
}

.hn-tc .head-block {
	 background-color:white; 
	 height:195px;
	 width:800px;
}

.hn-tc .body-block{
	width:828px;
	margin-left:-14px; 
	padding-top:0;
}

.hn-tc .hide {
	display:none;
}

.hn-tc .notification {
	font-size:12px;
	font-weight:bold;
	background-color: #eaeff2;
	padding:1em;
	text-align:center;
}

.hn-tc .form-loading { 
	background-positon: center top;
	background-repeat: no-repeat; 
	text-align:center; 
	font-size:12px;
	font-family:Verdana, Arial, Helvetica, sans-serif; 
	float:right;
	height:3em;
	margin-top:1.5em;
}
.hn-tc .form-loading .text-loading{
	margin-left:2.5em;
	color:#00bbf0;
}

.hn-tc, .hn-tc em, .hn-tc .postbox ul {
	background-color: #eaeff2;
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size:14px;
	line-height:160%;
}

.hn-tc .center {
	text-align:center;
}

.hn-tc .box {
	color: #000;
	padding:.5em;
}

.hn-tc .plugin-desc {
	font-size: 13px;
	line-height: 20px;
	padding: 5px 20px 5px 5px; 
	color: #000;
	font-weight:bold;
}

.hn-tc h1 i{
  font-size:1em;
  margin-right:.8em;
}

.hn-tc .va-bottom{
 vertical-align:bottom;
}

.hn-tc .link a,
.hn-tc .link-like {
	text-decoration:none;
	font-weight:600;
	color: #00bbf0;
}

.hn-tc .link-like {
	margin-right:.3em;
}

.hn-tc .link a:hover, .hn-tc .link a:focus {
	text-decoration:underline;
}

.hn-tc .header a:hover,.hn-tc .header a:focus {
  color:#444;
}

.hn-tc h1 {
	font-size:1.8em;
}
.hn-tc h2 {
	font-size: 1.5em;
}

.hn-tc h2,.hn-tc p {
	line-height:160%;
}

.hn-tc label, .hn-tc input {  
	display:inline-block;
}

.hn-tc input, .hn-tc select, .hn-tc textarea { 
	padding:.3em; 
	background:#EAEFF2;
}

.hn-tc label {
	color:#444;
	display:block;
}

.hn-tc .submit {
	display:inline-block;
	cursor:pointer;
	border-top: 1px solid #5dade2;
	background: #c1c500;
	background: -webkit-gradient(linear, left top, left bottom, from(#a8ac04), to(#a8ac04));
	background: -webkit-linear-gradient(top, #a8ac04, #a8ac04);
	background: -moz-linear-gradient(top, #a8ac04, #a8ac04);
	background: -ms-linear-gradient(top, #a8ac04, #a8ac04);
	background: -o-linear-gradient(top, #a8ac04, #a8ac04);
	padding: 15px 22px;
	line-height:4px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	color: #ffffff;
	font-size: 12px;
	text-decoration: none;
	vertical-align: middle;
	text-transform:uppercase;
	border:none;
}

.hn-tc .submit:hover,
.hn-tc .submit:focus {
	border-top-color: #258ace;
	background: #c1c500;
	color: #ffffff;
	text-decoration:none;
	border:none;
}
.hn-tc .submit:active {
	border-top-color: #258ace;
	background: #c1c500;
	color: #ffffff;
	border:none;
}

.hn-tc .hndle {
	color: #c1c500;
}

.hn-tc .styled-select {
  display: block;
  float: none;
  margin-left: 0;
  width: auto;
   }

.hn-tc .postbox {
	margin:0 0 .5em 0;
	padding:1em;
	border:none;
	
}

#hn_tw_logo{
	position:relative;
	right:7px;
}

@media screen and (max-width: 960px) {
	.hn-tc .blocks {
		display:block;
	}
	.hn-tc .head-block,.hn-tc .body-block {
		position:relative;
		width:100%;
		margin-left:0;
		padding:0;
	}
}